__pycache__/
*Thumos14-Annotations/*
*Thumos14reduced-Annotations/*
*.npy
*.pkl
logs/*
models/*
ckpt/*
*.back
.vscode/*
*.log
*.pdf
*.png
*.jpg
tmp_log/
*ActivityNet1.2-Annotations/*
*ActivityNet1.2-I3D-JOINTFeatures.npy
paper/
fig/*
*.eps
*.json
*.txt
.backup/*
outputs/*
study/*
*.db